.section-central{
    background-color:white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 0px;
    justify-content:center ;
    background: hsl(305, 92%, 19%);
}
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: 114px;
    min-width: 1000px;
}

#input-busqueda {
    border-radius: 20px;
    height: 40px;
    min-width: 300px;

}

#input-busqueda-lupa {
    margin-left: -60px;
    cursor: pointer;
    margin-right: auto;
}

.boton {
    border-radius: 0px;
    height: 50px;
    color: white;
    background-color: #2A7AE4;
    border: none;
    min-height: 60px;
}

.boton:hover {
    background-color: #1a457c;

}

.input-generico {
    left: calc(50% - 423px/2 - 0.5px);
    top: 259.89px;
    background: #e1dfdf;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    min-height: 40px;
    padding: 10px;

}

.seccion-contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: auto;
    gap: 40px;
}
.lista-contacto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #464646;
    margin-right: auto;
}

.form-contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 500px;
}
.pie-pagina{
    display: flex;
    flex-direction: column;
    height: 102px;
    justify-content: center;

}
.pie-texto{
text-align: center; 
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #464646;

}

.boton-blanco{
    width: 183px;
    height: 51px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4; 

}

.cuadricula{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;          
    display: grid;
    grid-gap: 10px; 
    padding: 10px;
    grid-template-columns: auto auto auto auto auto auto;
}
.itemproducto { 
    background-color: rgb(255, 255, 255);  
    height: 230px;
    flex-direction: column;
    display: flex;
    text-align: left;
    max-width: 176px;
    
}
.imagenproducto{
    width: 176px;
    height: auto;
}
.icono-imagen-producto{
    margin-bottom: -30px;
    margin-top: 15px;
    z-index: 999;
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    padding-right: 10px;
    height: 30px;
}
.titulo-todoslosproductos{
    max-width: 1200px;
    flex-direction:row ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto;
}
.texto-todoslosproductos{
    margin-right: auto;
    font-size: 30px;
}

.titulo-banner{
    font-size: 50px;
    font-weight: bolder;
}
.descripcion-banner{
 font-size: 20px;
}
.banner-home{
    background-image: url("E-commerce/Imagenes/banner.jpg");
    height: 400px;
    background-size:100% ;
    background-position-y: 70%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), 
    url("E-commerce/Imagenes/banner.jpg") ,
    size 100%, position-y 70%;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items:flex-start;
    justify-content: flex-end;
    padding: 0px 200px 50px 200px;

}